.register-sec {
  margin: 60px auto;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #57cc99;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.register-sec .left-part,
.register-sec .right-part {
  width: 50%;
  padding-right: 50px;
}
.register-sec .right-part .headingcommon {
  justify-content: flex-start;
  margin-bottom: 60px;
}
.register-form {
  width: 100%;
}
.register-form .form-control {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
  margin-bottom: 20px;
}
.register-form .form-control label {
  font-size: 15px;
  color: #373737;
}

.register-form .form-control input {
  width: 100%;
  min-height: 52px;
  border-radius: 10px;
  border: 1px solid #074568;
  outline: none;
  box-shadow: none;
  padding: 0 20px;
  font-size: 16px;
}
.register-form .form-control input::placeholder {
  color: #748893;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.register-form .btn-group {
  padding-top: 10px;
}
.register-form button {
  min-width: 100%;
  min-height: 54px;
  display: inline-flex;
  padding: 10px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 31px;
  border-radius: 10px;
  background: #074568;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: ease 0.5s;
  position: relative;
  outline: none;
  box-shadow: none;
  border: none;
  margin: auto;
  cursor: pointer;
}
.register-form button:hover {
  background: #57cc99;
}
.register-form .bottom-part {
  margin-top: 20px;
}
.register-form .bottom-part a {
  min-width: 100%;
  min-height: 54px;
  display: inline-flex;
  padding: 10px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 31px;
  border-radius: 10px;
  border: 1px solid #57cc99;
  background: #d5ffed;
  color: #074568;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: ease 0.5s;
  position: relative;
  outline: none;
  box-shadow: none;
  margin: auto;
}
.register-form .bottom-part a:hover {
  color: #fff;
  background: #57cc99;
}
.register-form .bottom-part a:nth-child(2) {
  background: transparent;
  border: none;
  color: #074568;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.register-form .bottom-part a:nth-child(2):hover{
  color: #074568;
  background: transparent;
}

@media (max-width: 991px) {
  .register-sec{
    width: 100%;
    padding: 30px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .register-sec .left-part{
    display: none;
  }
  .register-sec .right-part{
    width: 100%;
    padding-right: 0;
  }
  .register-sec .right-part .headingcommon{
    justify-content: center;
  }
  .register-form .bottom-part a{
    text-align: center;
  }
}