.headerbanner {
  background: radial-gradient(27.52% 27.52% at 50% 50%, #FFF 0%, #D5FFED 100%);
  position: relative;
  text-align: center;
  padding: 60px 0;
  min-height: 275px;
  overflow: hidden;
}

.headerbanner .header-content {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}
.headerbanner .header-content .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: 2px solid #57cc99;
  background: #074568;
  margin-bottom: 20px;
}

.headerbanner .curve {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  stroke-width: 3;
}

.headerbanner .curve.left {
  left: 0;
}

.headerbanner .curve.right {
  right: 0;
}
